.footerBox{
    width: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);

    .footer{
        width: 1400px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        span{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
        }
    }
}