div.secondNavBox{
    width: 100%;
    
    display: flex;
    justify-content: center;

    background-color: rgb(255, 187, 0);

    ul.secondNav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    

        li.square{
            min-width: 150px;
            min-height: 150px;
            margin: 0;

            padding: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 80px;

            color: rgb(0, 174, 255);

            &:hover{
                cursor: pointer;
                background-color: rgb(117, 86, 0);
            }
        }
    }
}