.sponsorsBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;

    background-color: white;

    .sponsors{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        max-width: 1200px;
    }
}

.sponsor{
    width: 200px;

    img{
        width: 100%;
    }
}